In [1]:
%load_ext sql
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [2]:
%sql sqlite:///library.db

Connecting to 'sqlite:///library.db'

In [3]:
%%sql
CREATE TABLE Library (
    library_name TEXT,
    address TEXT, 
    phone_number TEXT,
    email TEXT,
    PRIMARY KEY (library_name, address)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [4]:
%%sql
CREATE TABLE Item (
    item_id INTEGER PRIMARY KEY,
    category_id INTEGER,
    library_name TEXT,
    address TEXT,
    title TEXT,
    status TEXT,
    genre TEXT,
    location TEXT,
    publisher_name TEXT,
    FOREIGN KEY (category_id)
        REFERENCES ItemCategory (category_id)
    FOREIGN KEY (library_name)
        REFERENCES Library (library_name),
    FOREIGN KEY (address) 
        REFERENCES Library (address)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [5]:
%%sql
CREATE TABLE ItemCategory (
    category_id INTEGER PRIMARY KEY,
    category_name TEXT
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [6]:
%%sql
CREATE TABLE Reading (
    item_id INTEGER PRIMARY KEY,
    isbn INTEGER,
    author TEXT,
    FOREIGN KEY (item_id)
        REFERENCES Item (item_id)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [7]:
%%sql
CREATE TABLE Music (
    item_id INTEGER PRIMARY KEY,
    artist TEXT,
    num_songs INTEGER,
    FOREIGN KEY (item_id)
        REFERENCES Item (item_id)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [8]:
%%sql
CREATE TABLE User (
    user_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    birthdate DATE NOT NULL,
    phone_number TEXT NOT NULL,
    address TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    member_since DATE DEFAULT (datetime('now', 'localtime')),
    favourite_genre TEXT
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [10]:
%%sql
CREATE TABLE Employee (
    user_id INTEGER PRIMARY KEY,
    job_title TEXT,
    salary INTEGER,
    FOREIGN KEY (user_id)
        REFERENCES User (user_id)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [11]:
%%sql
CREATE TABLE Events (
    event_id INTEGER PRIMARY KEY,
    library_name TEXT,
    address TEXT,
    room_number INTEGER,
    description TEXT,
    event_date DATE,
    start_time TEXT,
    end_time TEXT,
    FOREIGN KEY (library_name, address)
        REFERENCES Library (library_name, address)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [12]:
%%sql
CREATE TABLE Audience (
    audience_id INTEGER PRIMARY KEY,
    type TEXT,
    genre TEXT
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [13]:
%%sql
CREATE TABLE Borrows (
    user_id INTEGER,
    item_id INTEGER,
    borrow_date DATE DEFAULT (datetime('now', 'localtime')),
    due_date DATE,
    return_date DATE,
    fine INTEGER,
    PRIMARY KEY (user_id, item_id, borrow_date),
    FOREIGN KEY (user_id)
        REFERENCES User (user_id),
    FOREIGN KEY (item_id)
        REFERENCES Item (item_id)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [14]:
%%sql
CREATE TABLE Attending (
    user_id INTEGER,
    event_id INTEGER,
    PRIMARY KEY (user_id, event_id),
    FOREIGN KEY (user_id)
        REFERENCES User (user_id),
    FOREIGN KEY (event_id)
        REFERENCES Events (event_id)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [15]:
%%sql
CREATE TABLE RecommendedFor (
    event_id INTEGER,
    audience_id INTEGER,
    PRIMARY KEY (event_id, audience_id),
    FOREIGN KEY (event_id)
        REFERENCES Events (event_id),
    FOREIGN KEY (audience_id)
        REFERENCES Audience (audience_id)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [16]:
%%sql
CREATE TABLE BelongsTo (
    user_id INTEGER,
    audience_id INTEGER,
    PRIMARY KEY (user_id, audience_id),
    FOREIGN KEY (user_id)
        REFERENCES User (user_id),
    FOREIGN KEY (audience_id)
        REFERENCES Audience (audience_id)
);

Running query in 'sqlite:///library.db'

++
||
++
++

In [17]:
%%sql
CREATE TRIGGER UpdateFavGenre AFTER INSERT ON Borrows
FOR EACH ROW
BEGIN
    UPDATE User
    SET favourite_genre = (
        SELECT genre
        FROM Item
        JOIN Borrows ON Item.item_id = Borrows.item_id
        WHERE Borrows.user_id = NEW.user_id
        GROUP BY Item.genre
        ORDER BY COUNT(*) DESC, MAX(Borrows.borrow_date) DESC
        LIMIT 1
    ) WHERE user_id = NEW.user_id;
END;

Running query in 'sqlite:///library.db'

++
||
++
++